<div class="d-flex">
    <form class="filter" action="">
        <span>
            <label for="price">Price:</label>
            <input class="" type="number" name="price_low" style="width: 3rem;"> -
            <input class="" type="number" name="price_high" style="width: 3rem;">
        </span>
        <button class="btn-sm btn-dark">Filter</button>
    </form>
</div>

<script src="/javascripts/submitFilter.js"></script>
<!-- <div class="navbar-nav d-flex">
    <div class="dropdown d-flex">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false" data-bs-offset="100,20">
            Filter
        </button>
        <form action="">
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark mt-3" aria-labelledby="dropdownMenuButton1">
                <li class="dropdown-item"><label for="price" class="dropdown-item">Price:</label>
                    <input class="col-1 dropdown-item" type="number" name="price_low"> -
                    <input class="col-1 dropdown-item" type="number" name="price_high"></li>
                <li><a class="dropdown-item" href="/login">login</a></li>
            </ul>
        </form>
    </div>
</div> -->