<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- <div class="navbar-nav">
                <a class="nav-link"  href="/">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">New Campground</a>
            </div> -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/campgrounds">Campgrounds</a></li>
                <li class="nav-item"><a class="nav-link" href="/campgrounds/new">New Campground</a></li>
                <!-- <li class="text-light"><a href="/" class="nav-link"><%= currentUser %> </a></li> -->
            </ul>
            
            <div class="navbar-nav d-flex">
                <div class="dropdown d-flex">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" 
                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="100,20">
                      <%= currentUser ? currentUser.username : 'User Panel' %> 
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark mt-3" 
                    aria-labelledby="dropdownMenuButton1">
                        <% if (!currentUser) {%> 
                        <li><a class="dropdown-item sm" href="/register">register</a></li>
                        <li><a class="dropdown-item" href="/login">login</a></li>
                        <% } else { %>
                        <li><a class="dropdown-item sm" href="/logout">Logout</a></li>
                        <li><a class="dropdown-item" href="/changePassword">Reset</a></li>
                        <% } %> 
                    </ul>
                </div>

                
            </div>
        </div>
    </div>
</nav>