<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="campground[title]" id="title" placeholder="title"
                        required>
                    <div class="valid-feedback">
                        <!-- This gives us the feedback after we finished filling after one submit failed -->
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="campground[location]" id="location"
                        placeholder="location" required>
                    <div class="valid-feedback">
                        <!-- This gives us the feedback after we finished filling after one submit failed -->
                        Looks good!
                    </div>
                </div>

                <input type="file" name="image" id="image" multiple>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Url</label>
                    <input type="text" class="form-control" name="campground[image]" id="image" placeholder="Image Url"
                        required>
                    <div class="valid-feedback">
                        This gives us the feedback after we finished filling after one submit failed
                        Looks good!
                    </div>
                </div> -->
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            <!-- This gives us the feedback after we finished filling after one submit failed -->
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" name="campground[description]" id="description"
                        placeholder="description" required></textarea>
                    <div class="valid-feedback">
                        <!-- This gives us the feedback after we finished filling after one submit failed -->
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds">Back to all campgrounds</a>
        </div>
    </div>